# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [6]:
#Your code here
query = '''
SELECT 
  employees.firstName 
, EMPLOYEES.lastName
, OFFICES.city
, OFFICES.state
FROM 
  employees 
JOIN 
  offices 
  ON employees.officeCode = offices.officeCode
'''

In [7]:
result = cur.execute(query)

In [9]:
result_data = list(result)

In [10]:
result_data

[('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('William', 'Patterson', 'Sydney', ''),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Larry', 'Bott', 'London', ''),
 ('Barry', 'Jones', 'London', ''),
 ('Andy', 'Fixter', 'Sydney', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Tom', 'King', 'Sydney', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', '')]

In [13]:
list(zip(*result.description))[0]

('firstName', 'lastName', 'city', 'state')

In [15]:
columns = [row[0] for row in result.description]

In [16]:
pd.DataFrame(result_data, colums=colums)

NameError: name 'colums' is not defined

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [2]:
# Your code here

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!